<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->
    <title>Youtube Trend App</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
	<nav class="navbar navbar-expand-sm bg-light">
		<a class="navbar-brand" href="#">YouTube trend App</a>
			<ul class = 'navbar-nav'>
				<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="https://github.com/wandiyu/flask_app">Github</a></li>
			</ul>
	</nav class="navbar">
   <section id = "prediction">
	 <div class="container">
      <form action="graph" method="GET">
		<label for="kw">Keywords, topics, or a title:</label><br>
		<textarea name="kw" rows="5" cols="30"></textarea>
		<br><br>
		<input type="submit" value="submit">
	  </form>    	
    </div>
	</section>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
